

<h1> Online Shopping India</h1>
<div class="col">
  <div>For existing account <%= link_to "Sing-in", new_session_path, methods: "get"  %></div>
  <div>To create new account <%= link_to "Sing-up", new_user_path, methods: "get"  %></div>
</div>
