
<div class="text-center">
  <h1> Sahara -  Online Shopping for India</h1>
  <div class="col">
    <div>For existing customer, <%= link_to "Sing-in", new_session_path, methods: "get"  %> to continue </div>
    <div>New customers, create new account here <%= link_to "Sing-up", new_user_path, methods: "get"  %> </div>

  </div>
</div>