<div class="container">
  <%= form_with url: menu_category_index_path, methods: :post, class: 'form-control' do |form| %>
    <div>
      <%= form.label :name, "Enter menu category name", class: 'form-label' %>
      <%= form.text_field :name, class: 'form-input' %>
    </div>

    <%= form.submit "Submit", class: 'form-input' %>
  <% end %>
</div>
